.weather-container {
  width: 660px;
  height: 150px;
  left: 50px;
  position: relative;
  top: 80px;
  display: flex;
}


.current_weather {
  width: 160px;
  height: inherit;
  background-color: var(--color-accent-blue);
  border-radius: 20px;
  color: var(--color-bg-border);
  transition: all 0.5s ease-in-out;
}

.weather_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.tab__header {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 20px 0 0;
  background-color: var(--color-chart-blue);
}

.tab_day {}

.tab_time {}

.tab_main {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-evenly;
}

.tab_temp {
  font-size: 28px;
  left: 8px;
  position: relative;
  font-weight: 600;
}


.weather_icon {
  font-size: 16px;
  height: 80px;
}

.detail_container {
  display: flex;
  flex-direction: row;
  left: 8px;
  top: 4px;
  position: relative;
}

.tab_details {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 8px;
  text-align: left;
  width: 100%;
  font-weight: 600;
}


/* mini tabs */
.next_weather {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 12px;
  left: 10px;
  color: var(--color-text-primary);
}

.next_weather:hover {
  gap: 20px;
  /* Khi hover vào nhóm, tăng khoảng cách giữa các thẻ */
}

.tabs_container {
  border-radius: 20px;
  width: 85px;
  height: 150px;
  background-color: var(--color-bg-card);
  left: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: scale(1);
  overflow: hidden;
  box-shadow: 2px 1px 5px var(--color-bg-hover);
}

.tabs_container.expanded {
  width: 160px;
  height: 150px;
  background-color: var(--color-accent-blue);
  border-radius: 20px;
  color: var(--color-bg-border);
  cursor: pointer;
  transform: scale(1);
  animation: bounceExpand 0.5s ease-out;
  top: 2px;
  position: relative;
  display: flex;
}

.tabs_day::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  width: 60%;
  height: 2px;
  background-color: var(--color-bg-border);
}

.tab__header.expanded {
  top: -4px;
  position: relative;
}

.tabs_icon {
  font-size: 5px;
}

.tabs_temp {
  font-size: 20px;
}

.wind_control {
  font-size: 8px;
  font-weight: 600;
  font-weight: inherit;
}

.tab_hovers.tab_details {
  font-size: 8px;
  font-weight: 700;
  top: -10px;
  position: relative;
}

/* Keyframe */

@keyframes bounceExpand {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}